
    *,body{
      color:black;
      text-align:center;
      background-color:blue;
      text-align:center;
    }
    h2{
      color:black;
      text-align:center;
      position:relative;
    }
    select{
      text-align:left;
      width:100%;
    }
    table{
      margin-left: 40%;
      margin-right:30%;
      position:relative;
     
    }
 
  div{
      padding-top:0%;
      border-radius:0px;
      width:100%;
  
  }
  table{
      padding-left:40%;
  }
