<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"type=text/css href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" type=text/css href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Home</title>
  
</head>
<body>
 
    <div class ="jumbotron jumbotron-fluid">
        <div>
        <form action="{{url_for('logout')}}">
            <input type="submit" value="Logout">
        </form>
        </div>

        <div>Login As : {{msg}}</div>
        <div class="container">
          <h2>ABC HOSPITAL MANAGEMENT</h2>
        <table>
        <td>
        
        <select onchange="location = this.value;">
        <option value="dashboard">Patient</option>
        <option value="Patient_Reg">Patient Register</option>
        <option value="select">select</option>
        <option value="Semi sharing">semi sharing</option>
        <option value="Single">single</option>
        </select>
        
        </td>
        <td>
        <select name="ph" id="ph">
        <option value="pharmacy">pharmacy</option>
        </td>
        <td>
        <select name="dg" id="dg">    
        <option value="Diagnostic">Diagnostic</option>
        </td>
        </tr>
        </table>
        </div>
        </div>
    
    {% block body %}

{% endblock%}
</body>
</html>