<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet"type=text/css href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Home</title>
    <style>
        body{
          background-color: blue;
        }
        
        
      </style>
</head>
<body>
    <header style="background-color: lightblue;">
    <div class ="jumbotron jumbotron-fluid" style="background-color: lightblue;">
        <div>
        <form action="{{url_for('logout')}}">
            <input type="submit" value="Logout">
        </form>
        </div>

        
        <div class="container" style="background-color: lightblue;">
          <h1 style="background-color: lightblue;">ABC HOSPITAL MANAGEMENT</h1>
        <table  class="table-striped"  >
        <tr >
        <td style="background-color: lightblue;">
        
        <select name="forma" onchange="location = this.value;">
        <option value="dashboard" hidden>Patient</option>
        <option value="Patient_Reg">Patient Register</option>
        <option value="Patient_Update">Patient Update</option>
        <option value="Patient_Delete">Patient Delete</option>
        <option value="Patient_View">Patient View</option>
        <option value="Patient_Search">Patient Search</option>
        <option value="Bill">Patient Billing</option>
        </select>
        
        </td>
        <td style="background-color: lightblue;">
        <select name="forma" onchange="location = this.value;">
        <option value="Pharmacy" hidden>Pharmacy</option>
        <option value="Pharmacy">Issue Medicine</option>
        </td>
        <td style="background-color: lightblue;">
        <select name="forma" onchange="location = this.value;">    
        <option value="Diagnostic" hidden>Diagnostic</option>
        <option value="Diagnostics">Add Diagnostic</option>
        </td>
        </tr>
        </table>
        </div>
        </div>
    </header>
    
    {% block body %}
      
{% endblock%}

{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <h3 style="color: white;">{{ message }}</h3>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %} 
</body>
</html>