<!DOCTYPE html>
<html lang="en">
<head>
  <title>view patient</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
 
</head>
<body>
  <h2>Patient Registration </h2>

<form action="Welcome.html" method="post">
<table>
<tbody>

<tr>
<td><label  for="pattient SSIN id">Patient SSN ID*</label></td>
<td><input pattient SSIN id="pattient SSIN id" name="name" type="text" required/></td>
</tr>

<tr>
<td><label for="Patient name">Patient Name*</label></td>
<td><input Pattient id=" Pattient name"  name="name" type="text" required/></td>
</tr>

<tr>
<td><label for="Pattient age">Patient Age* </label></td>
<td><input Pattient id ="Pattient age"  Pattient name="Pattient age" type="text" required/></td>
</tr>

<tr>
<td><label for="Date of admission">Date of Admission*</label></td>
<td><input Pattient id="Date of admission" Pattient name="Date of admission" type="text" required/></td>
</tr>

<tr>
<td><label for="Type of bed">Type of bed* </label></td>
<td>
<select name="Bed" id=Bed>
<option value="select">select</option>
<option value="Low bed">Low bed</option>
<option value="Manual">Manual</option>
<option value="Semi-electric">Semi-electric</option>
</select>
</td>
</tr>

<tr>
<td><label for="Address">Address*</label></td>
<td><input Pattient id ="Pattient age"  Pattient name="Address" type="text" required/></td>
</tr>

<tr>
<td><label for="State">State*</label></td>
<td>
<select name="states" id="states">
<option value="select">select</option>
<option value="up">up</option>
<option value="Tamilnadu">Tamilnadu</option>
<option value="Mp">Mp</option>
</select>
</td>
</tr>

<tr>
<td><label for="City">City*</label></td>
<td>
<select name="City" id="City">
<option value="select">select</option>
<option value="Mumbai">Mumbai</option>
<option value="Bangalore">Bangalore</option>
<option value="Delhi">Delhi</option>
</select>
</td>
</tr>

<tr>
<td><input name="delete" type="delete" value="delete"/></td>
</tr>
</tbody>
</table>
</form>
</td>
</tr>
</table>
</section>
</body>
</html>