<!DOCTYPE html>
<html lang="en">
<head>
  <title>Medicines Issued</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2 class =text-align:"Center">Diagnostics</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Patientid</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Type of Room</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
</div>
</section>
<div class="container">
    <h2 class =text-align:"Center">Diagnostics conducted</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name of the Test</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <button  type="button" class="btn btn-dark">Add Diagnostics</button>
  </div>
</section>
<section>
    <div class="container">
        <div class="table-responsive-sm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name of the test</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button  type="button" class="btn btn-dark">ADD</button>
        </div>
        <button  type="button" class="btn btn-dark">Update</button>
      </div>
      </section>
</body>
</html>