{% extends 'base.html' %}
  



{%block body %}
<style>
  table td{
    background-color: white;
  }
</style>


<div class="container">
  <h2 class =text-align:"Center">Patient Billing</h2>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %} 
<style>
  body{
    background-color: blue;
  }
</style>

  <table class="table table-bordered"style="margin: 0 1%;">
    <thead class="thead-dark">
      <tr>

        <th>patient id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>DOJ</th>
        <th>Date of discharge</th>
        <th>Type of Room</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <form action="{{url_for('getuserdata')}}" method="POST">
            <input  name="ssid" type="number" id="cssid"
                {% if mess !="Not Found" and mess !=""%}
                
                value="{{mess['patient_id']}}"
                
                {% endif %}
                required style="border: hidden;"/>
            <input type="text" value="billing" name="pageinfo" hidden>
            <input type="submit" value="Get" hidden>
            </form>

        </td>
        {% if mess!="" %}
      <td>{{mess.name}}</td>
      <td>{{mess.age}}</td>
      <td>{{mess.address}}</td>
      <td>{{mess.admission_date|datetimeformat()}}</td>
      <td>{{date|datetimeformat()}}</td>
      <td>{{mess.bed_type}}</td>
        {%else%}
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <td></td>
        </td>

        {% endif %}

        
      </tr>
   
    </tbody>
  </table>
  
</div>



{% if mess!="" %}
<P style="text-align: right;margin-right:10%;margin-top:3%;">No of Days :<span style="color: lightblue;">{{patient_date}}</span> &emsp;&emsp;Bill for Room : <span style="color: lightblue;">Rs.{{patient_pay}}</span></p>
<section>
<div class="container">
    <h2 class =text-align:"Center">Pharmacy charges</h2>
    <table class="table table-bordered" style="margin: 0 1%;">
      <thead class="thead-dark">
        <tr>
          <th>medicine</th>
          <th>quantity</th>
          <th>rate</th>
          <th>Amount</th>
        </tr>
      </thead>
      {% if medi!=() %}
      
      <tbody>
        {%for message in medi%}        
        <tr>
          <td>{{message['medicine_name']}}</td>
          <td>{{message['quantity']}}</td>
          <td>{{message['rate']}}</td>
          <td>{{message['quantity']*message['rate']}}</td>
        </tr>
        {%endfor%}
        
       
      </tbody>
        {%else%}
        <tbody>
          <tr>
            <p>No Medicine issued</p>
          </tr>
        </tbody>
        
{% endif %}


      
    </table>
   
    <br>
  </div>
</section>

<P style="text-align: right;margin-right:10%">Bill of Pharmacy : <span style="color: lightblue;">Rs.{{total_medicine}}</span></p>

{% if tempmedi!="" %}

<section>
    <div class="container">
      <h2 class =text-align:"Center">Diagnostics charges</h2>
        <div class="table-responsive-sm">
        <table class="table table-bordered" style="margin: 0 1%;">
          <thead class="thead-dark">
            <tr>
                <th>Name of the test</th>
                <th>Amount</th>
                
            </tr>
          </thead>
          <tbody>
              
              {% for message in tempmedi %}
              
                
                <tr>
                  <td>{{message['test_name']}}</td>
                  <td>{{message['rate']}}</td>
                </tr>
                
              
              {% endfor %}
              
            
              
          </tbody>
          
        </table>
        </div>
        
      </div>
</section>

<P style="text-align: right;margin-right:10%;margin-top:3%">Bill of Diagnostics : <span style="color: lightblue;">Rs.{{total_diagnostic}}</span> </p>
{%endif%}
<form action="{{url_for('checkout')}}" method="POST">
  <input type="text" value="{{mess['patient_id']}}" name="ssid" hidden>
  <button  type="submit" class="btn btn-dark" >confirm</button>
  <label for=""> Grand total :   <span style="color: lightblue;">Rs.{{total_diagnostic+total_medicine+patient_pay}}</span></label>
</form>
<br>
<br>
{%endif%}
{% endblock%}
