<!DOCTYPE html>
<html lang="en">
<head>
  <title>finalbilling</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
    <body>
    <div class="container">
    <h2>Patient Billing</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Patientid</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Date of discharge</th>
        <th>Type of Room</th>
        <th>No.of.Days</th>
        <th>Bill of Room</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
</div>
</section>
<div class="container">
    <h2>pharmacy charges</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>medicine</th>
          <th>quantity</th>
          <th>rate</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td><p>Bill for Pharmacy</p></td>
        </tr>
      </tbody>
    </table>
    
  </div>
    <div class="container">
        <h2>Diagonistic Charges </h2>
        <div class="table-responsive-sm">
        <table class=" table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Name of the test</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>bill for diagnostics</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <p>Grant Total</p>
        <button  type="button" class="btn btn-dark">confirm</button>
        </div>
      </div>
    
</section>
</body>
</html>
