<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>header</title>
    </head>
    <body>
    <style>
        body{
            text-align:center;            
            
        }
        div{
            padding-top:0%;
            background-color:cornflowerblue;
            border-radius:0px;
            width:100%;
        
        }
        table{
            padding-left:40%;
        }
    </style>
    

    <div class ="jumbotron jumbotron-fluid">
    <div class="container">
      <h2>ABC HOSPITAL MANAGEMENT</h2>
    <table>
    <td >
    <select name="pt id="pt">
    <option value="pattient">patient</option>
    </td>
    <td>
    <select name="ph id=ph">
    <option value="pharmacy">pharmacy</option>
    </td>
    <td>
    <select name="dg id=dg">
    <option value="Diagnostic">Diagnostic</option>
    </td>
    </tr>
    </table>
    </div>
    </div>
    

