<!DOCTYPE html>
<html lang="en">
<head>
  <title>medicine issued</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  
<div class="container">
  <h2 class =text-align:"Center">pharmacy</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Patientid</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Type of Room</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
</div>
<section>
<div class="container">
    <h2 class =text-align:"Center">medicine issued</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>medicine</th>
          <th>quantity</th>
          <th>rate</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        
      </tbody>
      
    </table>
    
    <button  type="button" class="btn btn-dark">Medicine Issued</button>
  </div>
</section>
<section>
    <div class="container">
        <div class="table-responsive-sm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
                <th>medicine</th>
                <th>quantity</th>
                <th>rate</th>
                <th>Amount</th>
                
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <button  type="button" class="btn btn-dark">ADD</button>
        </table>
        </div>
        <button  align="center" type="button" class="btn btn-dark">update</button>
      </div>
</section>
</body>
</html>
