{% extends 'base.html' %}

{%block body %}
<h2>Patient Registration </h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form action="{{url_for('create')}}" method="POST">
<table>
<tbody>

<tr>
<td><label  for="pattient SSIN id">Patient SSN ID*</label></td>
<td><input  name="ssid" type="number" required/></td>
</tr>

<tr>
<td><label for="Patient name">Patient Name*</label></td>
<td><input   name="name" type="text" required/></td>
</tr>

<tr>
<td><label for="Pattient age">Patient Age* </label></td>
<td><input   name="age" type="number" required/></td>
</tr>

<tr>
<td><label for="Date of admission">Date of Admission*</label></td>
<td><input  name="Date" type="date" required/></td>
</tr>

<tr>
<td><label for="Type of bed">Type of bed* </label></td>
<td>
<select name="Bed" id=Bed required>
<option value="select">select</option>
<option value="General ward">General ward</option>
<option value="Semi sharing">semi sharing</option>
<option value="Single">single</option>
</select>

</td>
</tr>

<tr>
<td><label for="Address">Address*</label></td>
<td><input id ="Patient age"  name="Address" type="text" required/></td>
</tr>

<tr>
<td><label for="State">State*</label></td>
<td>
<select name="states" id="states" required>
<option value="select">select</option>
<option value="up">up</option>
<option value="Tamilnadu">Tamilnadu</option>
<option value="Mp">Mp</option>
</select>
</td>
</tr>

<tr>
<td><label for="City">City*</label></td>
<td>
<select name="City" id="City" required>
<option value="select">select</option>
<option value="Mumbai">Mumbai</option>
<option value="Bangalore">Bangalore</option>
<option value="Delhi">Delhi</option>
</select>
</td>
</tr>

<tr>
<td><input name="Submit" type="Submit" value="Submit" /></td>
<td> <input name="Reset" type="Reset" value="Reset" /></td>
</tr>
</tbody>
</table>
</form>

{% endblock%}