{% extends 'base.html' %}


{%block body %}
<style>
  body{
    background-color: blue;
  }
  table td{
    background-color: white;
  }
  
</style>
<div class="container">
  <h2>View Patients</h2>
  <table class="table table-bordered" style="margin: 0 1%;">
    <thead class="thead-dark">
      <tr>
        <th>Patient Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>DOJ</th>
        <th>Type of Room</th>
      </tr>
    </thead>
    <tbody>
      
  {% for messages in mess%}
    <tr>
      <td>{{messages.patient_id}}</td>
      <td>{{messages.name}}</td>
      <td>{{messages.age}}</td>
      <td>{{messages.address}}</td>
      
      <td>{{messages["admission_date"]|datetimeformat()}}</td>
      <td>{{messages.bed_type}}</td>

    </tr>
  {% endfor %}
    </tbody>
    
  </table>


{% endblock%}